### Test classes
src/test

### Git files
.git/
.gitignore

### Project files
target/
*.md
docker-compose.dev.yml
/application.yml
example/
data/

### IntelliJ IDEA
.idea/
*.iml

### CI/CD
.github/

### Dotenv
.env
.env.leave

### Misc
.DS_Store
